{% extends "shop/base.html" %}

{% block content %}
<h2>Votre commande {{ user.username }}</h2>
<div class="list-commande">
  {% for order in order_user %}
  <div class="card mx-2">
    <div class="card-body">
      <p><strong>quantités : </strong>{{ order.quantity }}</p>
      <p>
        <p><strong>produit : </strong>{{ order.product.title }}</p>
      </p>
      <a href="{% url "delete_cart_by_id" order.id %}" class="text-decoration-none text-danger">Supprimer</a>
    </div>                        
  </div>
  {% endfor %}
  
  <div class="list-commande"></div>
</div>

{% if order_user|length > 0 %}
<div>
  <a href="{% url "checkout" %}" class="btn btn-primary btn-sm display-block mt-2">Récapitulatif</a>
  <a href="{% url "delete_cart" %}" class="btn btn-danger btn-sm display-block mt-2">Supprimer votre panier</a>
</div>
<strong>Total : </strong> {{ total }}€
{% endif %}
{% endblock %}





{% block js %}
<script>
  console.log(JSON.parse(sessionStorage.getItem("panier")))

  JSON.parse(sessionStorage.getItem("panier")).forEach(commande => {
    let sectionCommande = document.createElement("div")
    sectionCommande.innerHTML += commande.nom + " " + commande.prix+"€" + "QTE : "+commande.quantite
    document.querySelector('.list-commande').append(sectionCommande)
  })


</script>
{% endblock %}