{% extends "shop/base.html" %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <ul class="list-group" id="item-list">
            <h3 class="text-center ">Voici votre liste</h3>
            {% for order in order_user %}
            <div class="card mx-2">
                <div class="card-body">
                    <p><strong>quantités : </strong>{{ order.quantity }}</p>
                    <p>
                        <p><strong>produit : </strong>{{ order.product.title }}</p>
                    </p>
                    <a href="{% url "delete_cart_by_id" order.id %}" class="text-decoration-none text-danger">Supprimer</a>
                </div>                        
            </div>
        {% endfor %}
           
        </ul>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <form method="POST">
            {% csrf_token %}
            <input type="hidden" id="items", name="items">
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="inputEmail4">Nom</label>
                <input type="text" id="nom" name="nom" class="form-control" id="inputEmail4">
              </div>
              <div class="form-group col-md-6">
                <label for="inputPassword4">Email</label>
                <input type="email" id="email" name="email" class="form-control" id="inputPassword4">
              </div>
            </div>
            <div class="form-group">
              <label for="inputAddress">Address</label>
              <input type="text" id="address" name="address" class="form-control" id="inputAddress">
            </div>
            
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="inputCity">Ville</label>
                <input type="text" name="ville" id="ville" class="form-control" id="inputCity">
              </div>
              <div class="form-group col-md-4">
                <label for="inputState">Pays</label>
                <select id="pays" name="pays" class="form-control">
                  <option selected>France</option>
                </select>
              </div>
              <div class="form-group col-md-2">
                <label for="inputZip">Zip</label>
                <input name="zipcode" id="zipcode" type="text" class="form-control">
              </div>
            </div>
            <div class="form-group col-md-2">
              <label for="inputZip">Somme total a payer </label>
              <input name="total" id="total" type="readonly" class=" bg-dark text-warning form-control" value="{{ total }}€">
            </div>
          </div>
            <div class="form-group">
             
            <button type="submit" class="btn btn-primary">Commander</button>
          </form>
    </div>
</div>
{% endblock %}