{% extends "shop/base.html" %}
{% block content %}
<div class="row">
    <div class="col-md-12">
        <h3 class="text-dark text-center bg-warning">Bonjour {{ request.user.username }}</h3>
        <h4 class="text-muted">Nous vous remercions pour votre commande, pour la finaliser nous vous invitons à créer votre compte sur notre site afin de finaliser votre achat</h4>
        <h5>En cas de problèmes ou de difficulté vous pouvez nous contacter via notre formulaire de contact et nous vous y répondrons très rapidement</h5>
        {% if user.is_autheficated %}
            <a class="btn btn-primary mt-4" href="{{ 'creation_compte' }}">Finaliser ma commande</a>
        {% else %}
            <a class="btn btn-primary mt-4" href="{{ 'creation_compte' }}">Finaliser ma commande</a>
        {% endif %}
    </div>
</div>

{% endblock %}