{% extends "shop/base.html" %}

{% block content %}

    <div class="row">
        <div class="col-md-12">
            <form class="">
                <div class="card-body row no-gutters align-items-center">
                    <div class="col">
                        <input type="search" placeholder="Entrez le nom du produit que vous cherchez" name="item-name" class="form-control form-control-borderless">
                    </div>
                    <div class="col-auto">
                        <button type="submit" class="btn btn-success">Recherche</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    {% if user.is_authenticated %}
    <div class="row mt-3">
        {% for product in product_object %}
        <div class="col-md-3">
            <div class="card">
                <img src="{{ product.image }}" alt="" class="card-ing-top">
                <div class="card-body">
                    <div id="aa{{ product.id }}" class="card-title">{{ product.title }}</div>
                    <div id="price{{ product.id }}" style="color:orange" class="card-text"> {{ product.price }}</div>
                    {% if user.is_superuser %}
                    <a href="product/{{ product.id }}" class="btn btn-warning">Modifer</a>
                    <a href="delete/{{ product.id }}" class="btn ted btn-danger">Supprimer</a>
                    {% else %}
                        <a href="{{ product.id }}" class="btn btn-warning">Détails</a>
                        <a href="add_cart/{{ product.id }}" class="btn ted btn-success">Ajouter au panier</a>
                    {% endif %}
                </div>
            </div>
        </div>
        {% endfor %}        
    </div>

    <div class="mt-3">
        <div class="col-md-3 offset-md-4">
            <ul class="pagination">
                {% if product_object.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ product_object.previous_page_number }}">Precedent</a>
                    </li>
                {% endif %}    

                    <li class="page-item active">
                        <a class="page-link" href="?page={{ product_object.number }}">{{ product_object.number }}</a>
                    </li>

                {% if product_object.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ product_object.next_page_number }}">Suivant</a>
                    </li>
                {% endif %} 

            </ul>
        </div>
    </div>

    <div>
        {% if not user.is_superuser %}
            <h4>Votre panier</h4>
        {% endif %}
        <div class="d-flex">
            {% if order_user|length == 0 and not user.is_superuser %}
            <div class="card">
                <div class="card-body">
                    <h5>Votre panier est vide</h5>
                </div>
            </div>
            {% elif not user.is_superuser %}
                {% for order in order_user %}
                    <div class="card mx-2">
                        <div class="card-body">
                            <p><strong>quantités : </strong>{{ order.quantity }}</p>
                            <p>
                                <p><strong>produit : </strong>{{ order.product.title }}</p>
                            </p>
                            <a href="{% url "delete_cart_by_id" order.id %}" class="text-decoration-none text-danger">Supprimer</a>
                        </div>                        
                    </div>
                {% endfor %}
                {% endif %}
            </div>
            {% if order_user|length > 0 %}
                <div>
                    <a href="{% url "checkout" %}" class="btn btn-primary btn-sm display-block mt-2">Récapitulatif</a>
                    <a href="{% url "delete_cart" %}" class="btn btn-danger btn-sm display-block mt-2">Supprimer votre panier</a>
                </div>
                <strong>Total : </strong> {{ total }}€
            {% endif %}
        {% else %}
            {% comment %} ////////// {% endcomment %}

                <div class="row mt-3">
                    {% for product in product_object %}
                    <div class="col-md-3">
                        <div class="card">
                            <img src="{{ product.image }}" alt="" class="card-ing-top">
                            <div class="card-body">
                                <div id="aa{{ product.id }}" class="card-title">{{ product.title }}</div>
                                <div id="price{{ product.id }}" style="color:orange" class="card-text"> {{ product.price }}</div>
                                <a href="{{ product.id }}" class="btn btn-warning">Détails</a>
                                <a 
                                    href="#" 
                                    onclick="ajouterAuPanier({{ product.id }}, '{{ product.title }}', {{ product.price }})" 
                                    data-index="{{ product.id }}" 
                                    class="btn ted btn-success"
                                >
                                Ajouter au panier
                            </a>
                            </div>
                        </div>
                    </div>
                    {% endfor %}        
                </div>

                <div class="mt-3">
                    <div class="col-md-3 offset-md-4">
                        <ul class="pagination">
                            {% if product_object.has_previous %}
                                <li class="page-item">
                                    <a class="page-link" href="?page={{ product_object.previous_page_number }}">Precedent</a>
                                </li>
                            {% endif %}    
            
                                <li class="page-item active">
                                    <a class="page-link" href="?page={{ product_object.number }}">{{ product_object.number }}</a>
                                </li>
            
                            {% if product_object.has_next %}
                                <li class="page-item">
                                    <a class="page-link" href="?page={{ product_object.next_page_number }}">Suivant</a>
                                </li>
                            {% endif %} 
            
                        </ul>
                    </div>
                </div>

                {% if not user.is_superuser %}
                <div>
                    <h4>Votre panier</h4>
                    <div id="panier"></div>
                </div>
                {% endif %}


            {% comment %} ////////// {% endcomment %}
        {% endif %}
    </div>
{% endblock %}

{% block js %}
<script>
    // Charger le panier au chargement de la page
    document.addEventListener("DOMContentLoaded", function() {
        afficherPanier();
    });

    // Fonction pour ajouter un produit au panier
    function ajouterAuPanier(id, nom, prix) {
        let panier = JSON.parse(sessionStorage.getItem('panier')) || [];

        // Vérifier si le produit existe déjà dans le panier
        let produitExistant = panier.find(produit => produit.id === id);

        if (produitExistant) {
            // Incrémenter la quantité
            produitExistant.quantite += 1;
        } else {
            // Ajouter un nouveau produit
            panier.push({ id: id, nom: nom, prix: prix, quantite: 1 });
        }

        // Mettre à jour le panier dans le localStorage
        sessionStorage.setItem('panier', JSON.stringify(panier));

        // Afficher le panier mis à jour
        afficherPanier();
    }

    // Fonction pour afficher le panier
    function afficherPanier() {
        let panier = JSON.parse(sessionStorage.getItem('panier')) || [];
        let panierDiv = document.getElementById('panier');
        panierDiv.innerHTML = '';

        if (panier.length === 0) {
            panierDiv.innerHTML = '<p>Votre panier est vide</p>';
        } else {
            panier.forEach(produit => {
                panierDiv.innerHTML += `<p>${produit.nom} - ${produit.prix}€ - Quantité: ${produit.quantite}</p>`;
                {% comment %} let btnRemove = document.createElement("a")
                btnRemove.setAttribute("href",`delete_cart/${produit.id}`)
                btnRemove.innerHTML = "Supprimer"
                panierDiv.append(btnRemove) {% endcomment %}
            });
            let commande = document.createElement("a");
            commande.setAttribute("class", "btn btn-primary");
            commande.setAttribute("href", "confirmation");
            commande.innerHTML = "Commander";

            let supprimerCommande = document.createElement("a");
            supprimerCommande.setAttribute("class", "btn btn-danger ms-2");
            supprimerCommande.setAttribute("href", "#");
            supprimerCommande.innerHTML = "Supprimer le panier";

            supprimerCommande.addEventListener("click",()=>{
                sessionStorage.removeItem("panier");
                window.location.reload()
            });

            panierDiv.append(commande, supprimerCommande)
        }
    }
</script>
{% endblock %}