{% extends "shop/base.html" %}

{% block content %}
    <div class="list-payment"></div>
    <a href="{% url "success_payment" %}" class="btn btn-primary">Valider le paiement</a>
{% endblock %}

{% block js %}
<script>
  let totalCommande = 0;
  
  JSON.parse(sessionStorage.getItem("panier")).forEach(commande => {
    let sectionCommande = document.createElement("div");
    sectionCommande.innerHTML += commande.nom + " " + commande.prix+"€" + "QTE : "+commande.quantite;
    document.querySelector('.list-payment').append(sectionCommande);
    totalCommande += commande.prix
  });
  
  let divTotalCommande = document.createElement("div");
  divTotalCommande.innerHTML = "<strong>Total de la commande : "+totalCommande+"€</strong>";
  document.querySelector('.list-payment').append(divTotalCommande);



</script>
{% endblock %}